<md-card class="example-card">
  <md-card-header>
    <md-card-title>The Chronolog</md-card-title>
    <md-card-subtitle>Life events app</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      You can ...
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Log In</button>
    <button md-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log Out</button>
  </md-card-actions>
</md-card>

<main class="container">
  <router-outlet></router-outlet>
</main>
